$font-family: "Lato", sans-serif;

.errorMsg {
  margin-top: 8px;
  color: #c2004f;
  display: flex;
  align-items: center;
  font: normal normal 12px $font-family;
}

.errorMsgBlock {
  min-height: 18px;
  color: #c70011;
  padding: 7px 12px;
  border-radius: 4px;
  background: #fff2f2;
  border: 1px solid #c70011;
  font: normal normal 11px $font-family;
}

.hide {
  visibility: hidden;
}
